# Environnements virtuels
env/
solution-provider-dashblooddon/env/
# Données sensibles
data/
solution-provider-dashblooddon/data/
solution-provider-dashblooddon/data/raw/
solution-provider-dashblooddon/data/processed/

# Cache Python
solution-provider-dashblooddon/__pycache__/
solution-provider-dashblooddon/*.pyc
